.App {
  text-align: center;
}

.clock {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 24px;
  margin-left: 10px;
}

.timers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-input {
  margin-bottom: 10px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 10px;
}

.timer button {
  background: none;
  border: none;
  cursor: pointer;
}

.timer span {
  font-size: 20px;
}

